<div id='wrapper' class="wrapper">
    <header class='intro'>
        <div class="pure-g">
            <!-- logo and other things -->
            <div id="logo" class="pure-u-1 pure-u-md-1-2">
                <h1><a href="http://www.davidemolin.com">DAM - Davide Alberto Molin</a></h1>
                <p>DAVIDE ALBERTO MOLIN<br />{ Contract FRONT END WEB DEVELOPER }</p>
            </div><!--END logo-->

            <div class="social-icons pure-u-1 pure-u-md-1-2">
                <ul class="social header">
                    <li><a href="https://github.com/dmolin" target="_blank" class="icon fa fa-github"><span class="label"></span></a></li>
                    <li><a href="https://www.linkedin.com/in/davidemolin" target="_blank" class="icon fa fa-linkedin"><span class="label"></span></a></li>
                    <li><a href="https://twitter.com/davidemolin" target="_blank" class="icon fa fa-twitter"><span class="label"></span></a></li>
                    <li><a href="#" target="_blank" class="icon fa fa-facebook"><span class="label"></span></a></li>
                    <li><a href="#" target="_blank" class="icon fa fa-google-plus"><span class="label"></span></a></li>
                </ul>
            </div>
        </div>

        <div id='linkedin' class="">
            <a title="Visit my LinkedIn profile" target="_blank" href="http://linkedin.com/in/davidemolin">Visit my LinkedIn profile</a>
        </div>
    </header>

    <!-- slideshow -->
    <section class="slideshow pure-u-1">
        <div class="slides">
                <img class="slide" src="images/slideshow_flightsimpanels.jpg" data-href="http://github.com/dmolin/flightSimPanels">
                <img class="slide" src="images/slideshow_davidemolin.jpg" data-href="http://github.com/dmolin/www.davidemolin.com">
                <img class="slide" src="images/slideshow_giadacoppi.jpg" data-href="http://github.com/dmolin/www.giadacoppi.com">
                <img class="slide" src="images/slideshow_policyexpert.jpg">
                <img class="slide" src="images/slideshow_ea.jpg">
                <img class="slide" src="images/slideshow_moshlings.jpg" data-href="http://www.moshlings.com">
                <img class="slide" src="images/slideshow_moshlings2.jpg" data-href="http://www.moshlings.com">
                <img class="slide" src="images/slideshow_mindcandy.jpg" data-href="http://www.mindcandy.com">
                <img class="slide" src="images/slideshow_sportsbook.jpg" data-href="https://sports.bovada.lv/mobile/#home">
                <img class="slide" src="images/slideshow_slotscom.jpg">
                <img class="slide" src="images/slideshow_slots2.jpg">
                <img class="slide" src="images/slideshow_internal.jpg">
                <img class="slide" src="images/slideshow_usatoday.jpg">
                <img class="slide" src="images/slideshow_fulham.jpg">
                <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="foundicon-enclosed-left-arrow icon-large"></i></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"><i class="foundicon-enclosed-right-arrow icon-large"></i></a>
        </div>
    </section>

    <!-- content area -->
    <section class="articles">
        <!-- About me -->
        <article data-id-"about-me">
            <header class="open-close">
                <a href="javascript:void(0)"><h2>About me</h2></a>
            </header>
            <div class="pure-g desc">
                <div class="about-me pure-u-1 pure-u-sm-1-3 pure-u-lg-1-6">
                    <img class="cameo pure-img" title="dmolin-quarter" src="/images/me.jpg" alt="Picture of myself" />
                </div>

                <div class="about-content pure-u-1 pure-u-sm-2-3 pure-u-lg-5-6">
                    <p>
                        I&#8217;m a Front End Developer, with a passion for Web Standards, Javascript programming, Front End Development in general and the World Wide Web.
                    </p>
                    <p>
                        I've been writing code professionally since 1995, starting with C and C++, then Java Web development (in 2001), eventually falling in love with Front End development (since 2005).
                        I love technology, frameworks, design patterns and man-machine interactions. I'm always up for learning new stuff.
                    </p>
                    <p>
                        My current goal is to focus my efforts on Front End development (Javacript and dynamic languages) and Web Standards (HTML4-5+, CSS-2-3+).
                    </p>
                </div>
            </div>
        </article>

        <!-- Yes & No -->
        <article data-id="yesnos">
            <header class="open-close">
                <a href="javascript:void(0)"><h2>My Yes &amp; No</h2></a>
            </header>
            <div class="pure-g desc yesno">
                <div class="pure-u-1 pure-u-sm-1-2 yes">
                    <h3>My YES</h3>
                    <ul class=''>
                        <li>I Love working <strong>full time</strong> on Javascript/Html/CSS</li>
                        <li>I live and work in Central London</li>
                        <li>I like balancing work and private life</li>
                        <li><strong>Yes</strong> quick stand up</li>
                        <li><strong>Yes</strong> SCRUM</li>
                        <li><strong>Yes</strong> let's do-it approach</li>
                        <li><strong>Yes</strong> problem solving</li>
                        <li><strong>Yes</strong> flat/horizontal hierarchies</li>
                        <li><strong>Yes</strong> chats/emails</li>
                        <li><strong>Yes</strong> Unit Testing</li>
                        <li><strong>Yes</strong> creativity and non-linear-thinking</li>
                        <li><strong>Yes Apple Macs & Linux</strong></li>
                        <li><strong>Yes</strong> remote working (a <strong>BIG</strong> YES)</li>
                    </ul>
                </div>
                <div class="pure-u-1 pure-u-sm-1-2 no">
                    <h3>My No</h3>
                    <ul class=''>
                        <li>I'm not anymore interested in back-end development (unless it involves NodeJS and a mixture of FrontEnd too)</li>
                        <li>I DON'T Travel</li>
                        <li>I'm not interested in permanent opportunities. </li>
                        <li>I don't spend more than 8 hours/day at the office (but I can continue working from home). </li>
                        <li><strong>No</strong> writing spaghetti-like code without properly written test plans</li>
                        <li><strong>No</strong> management positions.</li>
                        <li><strong>No</strong> endless meetings.</li>
                        <li><strong>No</strong> huge piramidal hierarchies.</li>
                        <li><strong>No</strong> undocumented mess.</li>
                        <li><strong>No</strong> Agile Alliance pair-programming (it's not for me)</li>
                        <li><strong>No MS Windows (I don't work on that).</strong></li>
                    </ul>
                </div>
            </div>
        </article>

        <!-- Projects -->
        <article data-id="projects">
            <header class="open-close">
                <a href="javascript:void(0)"><h2>Projects I've been working on</h2></a>
            </header>
            <div class="projects desc pure-g">
                <ul>
                    <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                        <div class="project">
                            <img class="pure-img" src="images/projects/avionics.jpg">
                            <div class="project-info">
                                Info about this project!
                                <nav class="dialog-nav">
                                    <button class="pure-button pure-button-primary">Dismiss</button>
                                </nav>
                            </div>
                            <nav class="dialog-nav">
                                <a class="pure-button pure-button-primary" target="_blank" href="http://github.com/dmolin/flightSimPanels">Info</a>
                            </nav>
                        </div>
                    </li>
                    <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                        <div class="project">
                            <img class="pure-img" src="images/projects/tash.jpg">
                            <nav class="dialog-nav">
                                <a class="pure-button pure-button-primary" target="_blank" href="http://github.com/dmolin/tash">Info</a>
                            </nav>
                        </div>
                    </li>
                    <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                        <div class="project">
                            <img class="pure-img" src="images/projects/camera-api.jpg">
                            <nav class="dialog-nav">
                                <a class="pure-button pure-button-primary" target="_blank" href="//github.com/dmolin/mozilla-derby-camera-api">Info</a>
                            </nav>
                        </div>
                    </li>
                    <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                        <div class="project">
                            <img class="pure-img" src="images/projects/tictactoe.jpg">
                            <nav class="dialog-nav">
                                <a class="pure-button pure-button-primary" target="_blank" href="//github.com/dmolin/tictactoe">Info</a>
                            </nav>
                        </div>
                    </li>
                    <li class="pure-u-1 pure-u-sm-1-2 pure-u-md-1-3 pure-u-lg-1-4">
                        <div class="project">
                            <img class="pure-img" src="images/projects/giadacoppi.jpg">
                            <nav class="dialog-nav">
                                <a class="pure-button pure-button-primary" target="_blank" href="//github.com/dmolin/www.giadacoppi.com">Info</a>
                            </nav>
                        </div>
                    </li>
                </ul>
            </div>
        </article>

        <!-- Contact me -->
        <article data-id="contact-me">
            <header class="open-close">
                <a href="javascript:void(0)"><h2>Contact me</h2></a>
            </header>
            <div class="contact-me desc pure-g">
                <div class="pure-u-1">
                    <h3>Email me</h3>
                    <p>For any enquiry, please reach me at <a href="mailto:davide.molin@gmail.com">davide.molin-AT-gmail.com</a></p>
                </div>
                <div class="pure-u-1 pure-u-md-1-2 pad-E">
                    <h3>Where am I ?</h3>
                    <p>I&#8217;m breathin, working and living in the buzzing London, where everything happens at the speed of light and endless possibilities take shape everyday, like neurons in the limitless brain of the world.</p>
                    <p>I work as a contractor and I'm only interested in evaluating contract roles in central London</p>
                </div>
                <div class="pure-u-1 pure-u-md-1-2">
                    <img src="images/night-London-long.jpg" alt="London" title="London" class="pure-img rounded" />
                </div>
            </div>
        </article>
    </section>

</div>

<footer id="footer" class="">
    <section class="wrapper pure-g pad-context">
        <!-- Tweets -->
        <article class="pad pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
            <header>
                <a href="http://twitter.com/davidemolin" title="Follow me on Twitter"><h2>Latest tweets</h2></a>
            </header>
            <div id="twitter-holder">
                <a class="twitter-timeline" href="https://twitter.com/davidemolin" data-widget-id="412908681601093634" height="300" width="100%">Tweets by @davidemolin</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

                <!--END tweet-->
                <a href="http://twitter.com/davidemolin" class="twitter-follow" title="Follow me on Twitter!">My Tweets</a>
            </div><!--END twitter holder-->
        </article>

        <!-- Blog posts -->
        <article class="pad pure-u-1 pure-u-sm-1-2 pure-u-lg-1-3">
            <header>
            <h2>My blog</h2>
            </header>
            <div id="blog-posts"></div>
        </article>

        <!-- Testimonials -->
        <article class="pad testimonials pure-u-1 pure-u-sm-1-1 pure-u-lg-1-3">
            <header>
            <h2>Testimonials</h2>
            </header>

            <div class="slides">
                <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="foundicon-enclosed-left-arrow icon-large"></i></a>
                <a href="#" class="slidesjs-next slidesjs-navigation"><i class="foundicon-enclosed-right-arrow icon-large"></i></a>

                <div>
                    <p><time datetime="2013-08">December 08, 2013</time></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide is a highly experienced and exceptional contract UI developer who worked on our ambitious project to launch car insurance within a few months. He was a perfect fit for our small agile team, picked everything up very quickly and was excellent at not just building what we asked for but through discussion helping us realise how to do it better. Very sad to see him go once his contract was up but hopefully we'll be able to get him back soon! I'd recommend him without hesitation.
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Rick Wilton Profile" href="http://www.linkedin.com/profile/view?id=5767752&authToken=5Wyh">Rick Wilton</a>,
                        <em>Product Owner / Project Manager at QMetric</em>
                        <br /><i>Rick managed Davide at QMetric Group Limited</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-stamp'>July 15, 2013</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide is very capable JavaScript developer. He works quickly, with a high standard, and without fuss.
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Glen Peterson Profile" href="http://www.linkedin.com/profile/view?id=51607344&authToken=BT0y">Glen Peterson</a>,
                        <em>CTO at Chattoo</em>
                        <br /><i>Glen managed Davide at Zeebox</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-stamp'>July 15, 2013</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide is an exceptional software engineer with a friendly and collaborative attitude. His strength are his focus on TDD, his readiness to adopt local processes, and his natural inclination to iterate; all of which made it very quick to integrate him into the team, and a pleasure to work with. I would jump at the chance to work with Davide again, either as a front-end or web-services developer
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Mike Hutchinson Profile" href="http://www.linkedin.com/profile/view?id=10290797&authToken=HLy0">Mike Hutchinson</a>,
                        <em>Product Manager at Zeebox</em>
                        <br /><i>Mike worked directly with Davide at zeebox</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-stamp'>January 21, 2013</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide is a highly skilled JavaScript engineer with a commendable work ethic. He is laid-back, modest and thoughtful in his interactions with the team. I have heard nothing but praise for Davide's work; he sets a great example.
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Tom Pearson Profile" href="http://www.linkedin.com/profile/view?id=117429282&authToken=pc3V">Tom Pearson</a>,
                        <em>Forward Deployed Engineer, Palantir Technologies</em>
                        <br /><i>Managed Davide at Electronic Arts</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-stamp'>August 14, 2012</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide is one of those rare breed of web developers who keep strong engineering principles at the centre of everything they do. Always up for interesting technical challenges and looking at what's possible rather than what's "normal", Davide is a great technical expert. Working with Davide was always a pleasure. Even when the work the team had wasn't particularly challenging, he always kept a pragmatic attitude and looked to the future. I wouldn't hesitate to take the opportunity to work with him again
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Kevin LLoyd Profile" href="http://uk.linkedin.com/in/lloydie">Kevin Lloyd</a>, <em>Development Manager at Amazon</em>
                        <br /><i>Managed Davide as Director of Software Development at MindCandy</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-tstamp'>March 22, 2011</span></p>
                    <blockquote>
                        <p class='endorsement'>Davide is a great souce of knowledge and experience. We worked together in multiple projects and I became to admire his versatility and broad understanding. Davide is depsite all that a modest and supportive person. He takes pride in mentoring and sharing his knowledge and always makes you feel welcome when asking for help.</p>
                    </blockquote>
                    <cite>
                        <a title="View Juergen Biermann Profile" href="http://es.linkedin.com/pub/juergen-biermann/0/aa0/148">Juergen Biermann</a>,
                        <em>Senior Product Manager Casino</em>
                        <br /><i>worked with Davide at Riplife Gaming Technologies / Bodog Europe</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-tstamp'>March 20, 2011</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            <span class='title'>Riplife 2011 Annual Assessment</span>
                            To have Davide coming into the team during the summer has showed to be an enormous asset to the whole UX-team. He is, as said before &#8220;the right person at the right place&#8221;. And not just for the UX-team but also for the casino team working with the Slots.com project he has been an asset and someone that have meant a great deal of added value.
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Zac Fors Profile" href="http://es.linkedin.com/in/zacfors">Zach Fors</a>,
                        <em>Creative Director at Riplife.</em>
                        <br /><i>hired Davide as a Front End Developer in 2010</i>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-tstamp'>November 21, 2010</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide was part of our in-house development team before deciding to move  to Spain. Davide was a real team player and helped maintain a very good  atmosphere in the development team. His positive attitude and  optimistic approach were much appreciated by his colleagues and by  management. Professionally, Davide masters the technologies very well  and thinks creatively in order to achieve the most efficient result in  the shortest time.
                        </p>
                        <p><em>Top qualities:</em> Personable, Expert, Creative</p>
                    </blockquote>
                    <cite>
                        <a title="View Gabriella D. Modiano's Profile" href="www.linkedin.com/pub/gabriella-d-modiano/0/8b5/616">Gabriella D. Modiano</a>,
                        <em>Managing Partner at Modiano &amp; Partners</em>
                        <br /><i>hired Davide as a IT Consultant in 2009</i></p>
                    </cite>
                </div>

                <div>
                    <p><span class='feed-tstamp'>March 20, 2009</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            David is a professional high-level, one of the best with whom I had the  good fortune to work in the last years.Hard geared to achieving the  objectives by maintaining a high standard of quality.<br />
                            His ability, experience and his personality have put me in terms to  being able to delegate tasks among the most&#8217; complex to have developed.
                        </p>
                        <p><em>Key feature:</em> for him solution's design and programming, before being a job, are a great passion.</p>
                    </blockquote>
                    <cite>
                        <a title="View Marco's Profile" href="http://it.linkedin.com/pub/marco-appetito/1/403/52a">Marco Appetito</a>,
                        <em> Principal Consultant, Aubay</em>
                        <br /><i>managed Davide  at Aubay</i></p>
                    </cite>
                </div>

                <div>
                    <p><span class="feed-tstamp">November 28, 2007</span></p>
                    <blockquote>
                        <p class='endorsement'>
                            Davide is one of the best professionals I ever known. He is competent, proactive, with both technical, graphical ad human skills. I’ve worked with him for a long period (and hope to work with him in future), with great human and professional satisfaction, still now, in our periodic meetings, he is full of new great ideas and technical innovations.
                        </p>
                    </blockquote>
                    <cite>
                        <a title="View Marco Oreste's Profile" href="http://it.linkedin.com/pub/marco-oreste-pogliaghi/1/679/24">Marco Oreste Pogliaghi</a>,
                        <em>team leader, aubay</em>
                        <br /><i>managed Davide at Aubay</i>
                    </cite>
                </div>
            </ul><!--END ul-->

        </article>

    </section>
    <!-- copyrights -->
</footer>

<div id="copyright">
    <p class="">== Powered by BackboneJS ==</p>
    <p class="">© Copyright 2011 www.davidemolin.com. All rights reserved.</p>

</div><!--END copyright-->

