html, body, * {
    box-sizing: border-box;
}

/*----------------------------------
 * Typography
 *---------------------------------*/

h1,h2,h3,h4 { color: #CCCCCC; }
h1 { font-size: 2.5em; }
h2 { font-size: 2em; }
h3 { font-size: 1.5em; margin-top: 0;}
body, * {
    color: #666;
}

/*----------------------------------
 * Common
 *---------------------------------*/

blockquote { margin: 0; }

body {
    color: #ddd;
    font-size: 16px;
    height: 100%;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    background-color: #111111;
    background-image: url(../images/bg-body.jpg);
    background-repeat: repeat;
    background-position: left top;
}
    body.loading {
        display: none;
    }

.wrapper {
    padding: 0 1em 0;
    margin: 0 auto;
    max-width: 980px;
    overflow: hidden;
}

#wrapper {
    background-image: url(../images/wrapper.png);
    background-repeat: no-repeat;
    background-position: center top;
    text-shadow:0 1px 0 #000;
}

.intro {
    height: 90px;
    position: relative;
}

.cameo {
    border-radius: 100px;
}

.rounded {
    border-radius: 6px;
}

.pad {
    padding: 0 1em 1em;
}

.pad-E { padding-right: 1em;}
.pad-W { padding-left: 1em;}
.pad-N { padding-top: 1em;}
.pad-S { padding-bottom: 1em;}

a {
    text-decoration: none;
    color: #349ba8;
    outline:none;
    visibility: visible !important;
}
a:hover {
    text-decoration: underline;
}

.dialog-nav {
    position: absolute;
    bottom: 3px;
    right: 4px;
}

.read-more {
    color: #999;
    text-decoration: none;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 1px 3px #000;
    -webkit-box-shadow: 0 1px 3px #000;
    text-shadow: 0 -1px 1px #000;
    background-color: #0d0d0d;
    padding-top: 5px;
    padding-right: 10px;
    padding-bottom: 6px;
    padding-left: 10px;
    float: right;
    margin-top: 15px;
    margin-left: 15px;
}

/*----------------------
 * Logo
 *---------------------*/
#logo {
    background: url('../images/dam-block-logo.png') left top no-repeat;
    float: left;
    min-width: 200px;
    height: 65px;
    margin-top: 25px;
    padding-left: 130px;
}
    #logo p {
        color: #ccc;
    }

    #logo h1 {
        position: absolute;
        text-indent: -9999px;
        line-height: 0px;
    }
    #logo h2 {
        display:none;
    }
    #logo a {
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: none;
        border-left-style: none;
        float: left;
        padding-right: 15px;
    }
        #logo a h1 {
            display: none;
        }


/*----------------------
 * LinkedIn
 *---------------------*/
#linkedin {
    position: absolute;
    top: 0px;
    right: -2px;
}
    #linkedin a {
        background: url('../images/linkedin.png') left top no-repeat;
        background-size: 100% 100%;
        float: right;
        font-size: 0;
        height: 25px;
        text-indent: 200%;
        width: 160px;
        margin-top: -4px;
        margin-right: -4px;
    }


/*----------------------
 * Carousel
 *----------------------*/
.slides {
    display:none;
    }

    .slides .slidesjs-navigation {
      margin-top:3px;
      text-decoration: none;
      font-size: 2em;
    }

    .slides .slidesjs-previous {
      margin-right: 10px;
      float: left;
    }

    .slides .slidesjs-next {
      margin-right: 10px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 0.8em 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../images/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    .slides a:link,
    .slides a:visited {
      /*color: #333*/
    }

    .slides a:hover,
    .slides a:active {
      /*color: #9e2020*/
    }


/*-----------------------------------
 * Articles
 *-----------------------------------*/
.articles {
    margin-top: 1em;
}
    .articles article h2 {
        text-decoration: none;
        display: block;
        background-image: url(../images/border.gif);
        background-repeat: repeat-x;
        background-position: left bottom;
        color: #CCCCCC;
        text-transform: uppercase;
        font-size: 24px;
        margin: 0;
        padding-top: 10px;
        padding-bottom: 10px;
    }


/*--------------------------------------
 * Toggles
 *-------------------------------------*/
.open-close {
    position:relative;
    background-image: url(../images/toggle-open.gif);
    background-repeat: no-repeat;
    background-position: right 17px;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.open-close a {
    text-decoration: none;
    color: #CCCCCC;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.open-close a:hover {
}

.current{
    background-attachment: scroll;
    background-image: url(../images/toggle-close.gif);
    background-repeat: no-repeat;
    background-position: right 19px;
    color: #189ACB;
}

.desc {
    display: none;
    padding-top: 0.83em;
}



/*---------------------------------
 * About me
 *---------------------------------*/
.about-me {
    display: block;
    max-width: 150px;
    margin: auto;
}

.about-content {
    padding: 0.5em 2em;
}

/*---------------------------------
 * Yes/No
 *---------------------------------*/
.yesno {
}
    .yesno strong {
        color: #ccc;
        font-weight: normal;
    }

    .yesno h3 {
        padding-left: 0.5em;
    }

    .yesno .yes,
    .yesno .no {
        padding: 0 1em 0 0.5em;
    }

    .yesno ul {
        padding-left: 2em;
    }
        .yesno ul li {
            line-height: 1.5em;
            border-bottom: 1px dotted #333;
            font-size: 1.1em;
        }


/*---------------------------------
 * Projects
 *--------------------------------*/
.projects {
    overflow: hidden;
    position: relative;
}
    .projects ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
        .projects ul li {
            padding: 0.5em;
        }

.project {
    position: relative;
    /*display: inline-block;*/
    max-width: 310px;  /* max dimension for each project box */
    margin: 0 auto;
}

.project-info {
    border-radius: 0.3em;
    background: #fff;
    /*box-shadow: 2px 2px 5px #333;*/
    border: 1px solid #aaa;
    padding: 1em;
    position: absolute;
    top: 0.5em;
    bottom: 0.5em;
    left: 0.5em;
    right: 0.5em;
    z-index: 10;
}

/*---------------------------------
 * Footer
 *--------------------------------*/

footer#footer {
    text-shadow:1px 1px 0 #000;
    background-color: #201f1e;
    margin-top: 25px;
    padding-top: 30px;
    padding-right: 0px;
    padding-bottom: 30px;
    padding-left: 0px;
}

    #footer p,
    #footer span {
        color: #999;
    }

    #footer h2 {
        margin-top: 0;
    }

/*--------------------------------
 * Testimonials
 *-------------------------------*/
.testimonials {
}
    .testimonials .slides {
        list-style:none;
        padding:0;
        margin:0;
        position: relative;
    }
    .testimonials .slidesjs-container,
    .testimonials .slidesjs-control {
        /*height: 300px !important;*/
        overflow-y: auto;
        overflow-x: hidden;
    }
    .testimonials .slidesjs-pagination {
        position: absolute;
        top: 1px;
        right: 0;
    }
.authors {
    font-weight: bold;
    color: #666666;
    text-align: right;
    display: block;
}
/*--------------------------------
 * Twitter
 *-------------------------------*/

a.twitter-follow {
    padding: 0px;
    height: 50px;
    width: 75px;
    background-repeat: no-repeat;
    background-position: center top;
    display: block;
    text-indent: -9999px;
    background-image: url(../images/twitter.png);
    margin-top: -1px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    float: right;
}


/*----------------------------------
 * Feeds
 *---------------------------------*/
.feed-list .feed-item .feed-title {
    display:block;
    margin-bottom:10px;
}

.feed-list .feed-item .feed-tstamp {
    display:block;
    font-size:0.9em;
    color: #AAAAAA;
}


/*---------------------------------
 * Responsive queries
 *--------------------------------*/

@media (min-width: 35.5em) {
    .about-me {
        display: inline-block;
        margin: 0;
    }
}

@media (min-width: 64em) {
    #wrapper {
        padding: 0;
    }
}

/* move follow icon because of erratic width of twitter widget when transitioning between mobile and small displays */
@media screen and (min-width: 485px) and (max-width: 568px) {
    a.twitter-follow {
        float: none;
        margin-left: 385px;
    }
}