<% if(collection.length === 0) { %>
    <span class="loading">Loading...</span>
<% } else { %>

    <% _.each(collection, function(slide) { %>
        <div class="slide">
            <% if(slide.url) { %> <a href="<%= slide.url%>" target="_blank"> <% } %>
                <img class="pure-img" src="images/<%= slide.image %>" >
                <figcaption><p><%= slide.caption %></p></figcaption>
            <% if(slide.url) { %></a><% } %>
        </div>
    <% }) %>

    <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="foundicon-enclosed-left-arrow icon-large"></i></a>
    <a href="#" class="slidesjs-next slidesjs-navigation"><i class="foundicon-enclosed-right-arrow icon-large"></i></a>
<% } %>
