<div class="slide" data-href="https://www.udemy.com/foundations-of-front-end-development/?couponCode=HVZ6Q8LZEF">
    <img class="pure-img" src="images/carousel_fofed.jpg" >
    <figcaption><p>My new course on Front End Development on Udemy. click for an exclusive discount!</p></figcaption>
</div>
<div class="slide" data-href="http://github.com/dmolin/flightSimPanels">
    <img class="pure-img" src="images/carousel_avionics.jpg" >
    <figcaption><p>A personal project I'm working on. Click on the image to visit my Github page</p></figcaption>
</div>
<div class="slide" data-href="http://github.com/dmolin/www.davidemolin.com">
    <img class="pure-img" src="images/carousel_davidemolin.jpg" >
    <figcaption><p>Personal webpage. Made with Backbone modules. CSS with Pure</p></figure>
</div>
<div class="slide" data-href="http://github.com/dmolin/www.giadacoppi.com">
    <img class="pure-img" src="images/carousel_giadacoppi.jpg" >
    <figcaption><p>I turned a static page into a responsive website with dynamic columns</p></figcaption>
</div>
<div class="slide" data-href="http://www.policyexpert.co.uk/car-insurance/">
    <img class="pure-img" src="images/carousel_policyexpert.jpg">
    <figcaption><p>with the dream team in QMetric we've been implementing a next generation car insurance platform</p></figcaption>
</div>
<div class="slide">
    <img class="pure-img" src="images/carousel_ea.jpg">
    <figcaption><p>in EA I've been involved in the Origin mobile distribution platform</p></figcaption>
</div>
<div class="slide" data-href="http://www.moshlings.com">
    <img class="pure-img" src="images/carousel_moshlings.jpg" >
    <figcaption><p>I implemented the entire responsive Frontend from design mockups. CSS with Compass/SASS</p>
    </figcaption>
</div>
<div class="slide" data-href="http://www.mindcandy.com">
    <img class="pure-img" src="images/carousel_mindcandy.jpg" >
    <figcaption><p>I've been extending/maintaining the front end code on the main MindCandy websites.</p></figcaption>
</div>
<div class="slide" data-href="https://sports.bovada.lv/mobile/#home">
    <img class="pure-img" src="images/carousel_sportsbook.jpg" >
    <figcaption><p>For Bovada.lv I was involved in multiple projects: the Mobile Application and the games portal logic</p></figcaption>
</div>
<div class="slide">
    <img class="pure-img" src="images/carousel_slotscom.jpg">
    <figcaption><p>On the Drupal Slots.com app. I was in charge for the Front End implementation from original PSD Comps. CSS with SASS</p></figcaption>
</div>
<div class="slide">
    <img class="pure-img" src="images/carousel_riplife.jpg">
    <figcaption><p>I developed a compact MVC framework for use in multiple company-wide projects</p></figure>
</div>
<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="foundicon-enclosed-left-arrow icon-large"></i></a>
<a href="#" class="slidesjs-next slidesjs-navigation"><i class="foundicon-enclosed-right-arrow icon-large"></i></a>
