<div class="slide">
    <img src="images/slideshow_flightsimpanels.jpg" data-href="http://github.com/dmolin/flightSimPanels">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_davidemolin.jpg" data-href="http://github.com/dmolin/www.davidemolin.com">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_giadacoppi.jpg" data-href="http://github.com/dmolin/www.giadacoppi.com">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_policyexpert.jpg">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_ea.jpg">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_moshlings.jpg" data-href="http://www.moshlings.com">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_moshlings2.jpg" data-href="http://www.moshlings.com">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_mindcandy.jpg" data-href="http://www.mindcandy.com">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_sportsbook.jpg" data-href="https://sports.bovada.lv/mobile/#home">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_slotscom.jpg">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_slots2.jpg">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_internal.jpg">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_usatoday.jpg">
</div>
<div class="slide">
    <img class="slide" src="images/slideshow_fulham.jpg">
</div>
<a href="#" class="slidesjs-previous slidesjs-navigation"><i class="foundicon-enclosed-left-arrow icon-large"></i></a>
<a href="#" class="slidesjs-next slidesjs-navigation"><i class="foundicon-enclosed-right-arrow icon-large"></i></a>
