<div class="project">
    <a target="_blank" href="<%= model.url %>">
        <img class="pure-img" src="<%= model.imgUrl %>">
    </a>
    <!--
    <div class="project-info">
        Info about this project!
        <nav class="dialog-nav">
            <button class="pure-button pure-button-primary">Dismiss</button>
        </nav>
    </div>
    <nav class="dialog-nav">
        <a class="pure-button pure-button-primary" target="_blank" href="<%= model.url %>">Info</a>
    </nav>
    -->
</div>
